<nav>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="mavbar-header">
                <a href="#" class="navbar-brand">Recipe Book</a>
            </div>
            <div class="navbar-default">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active" routerLinkActiveOptions="{extract:true}" *ngIf="isAuthenticated">
                        <a  routerLink="/recipes" >Recipes</a>
                    </li>
                    <li routerLinkActive="active" routerLinkActiveOptions *ngIf="!isAuthenticated">
                        <a  routerLink="/auth" >Authentication</a>
                    </li>
                    <li routerLinkActive="active" *ngIf="isAuthenticated">
                        <a   routerLink="/shopping-list" >Shoping</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="isAuthenticated">
                        <a >Logout</a>
                    </li>
                    <li class="dropdown" appDropdown  *ngIf="isAuthenticated">
                        <a  class="dropdown-toggle">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a >Save Date</a></li>
                            <li><a >Fetch Date</a></li>

                        </ul>
                    </li>

                </ul>
                
            </div>
        </div>
    </nav>
</nav>